<!-- <div class="container">
  <table class="table table-bordered">
    <tr>
      <th>No.</th>
      <th>username</th>
      <th>password</th>
    </tr>

    <tr *ngFor="let dataform of loginArray; let i = index">
      <td>{{i + 1 }}<td>
      <td>{{dataform.username}}</td>
      <td>{{dataform.password}}</td>
    </tr>
  </table>
</div> -->




<div class="container mt-5">
  <table class="table table-bordered">
    <tr>
      <th>No</th>
      <th>username</th>
      <th>password</th>
    </tr>
    <tr *ngFor="let dataform of loginArray; let i = index">
      <td>{{i+1}}</td>
      <td>{{dataform.username}}</td>
      <td>{{dataform.password}}</td>
    </tr>
  </table>
</div>
